<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thực hành An toàn thông tin nâng cao</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" 
             alt="hutech" 
             style="width:200px; margin-top:20px;">
        <h4>BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        <ul style="margin-top:20px;">
            <li><a href="/caesar">Caesar Cipher</a></li>
            <li><a href="/rsa">RSA Cipher</a></li>
        </ul>
    </div>
</body>
</html>
